|   body    
        {
            
        }
        h1 {
            color: aliceblue;
            text-align: center;
            font-family: verdana;
        }
        h2
        {
            color: aliceblue;
            text-align: center;
            font-family: verdana;
        }
        p{
            color: aliceblue;
            text-align: center;
            font-family: verdana;
            
        }
        a
        {
            
            color: aliceblue;
            text-align: center;
            font-family: verdana;
        }
        a:visited {
        color: burlywood;
        background-color: transparent;
        text-decoration: none;
        }
        a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
        }
        a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
        }
        .center
        {
            width: 300px;
            margin: 0 auto;
        }
        .boton
        {
            width: 900px;
            margin: 0 auto;
        }
        .borde {
            
            border: 1px solid black;
            margin: 50px;
            background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-ink-landscape-painting-chinese-style-mountain-peak-image_47646.jpg") ;
            background-size: 70rem;
            
        }
        .enlaces{
            
        }
        .encabezado {
            

            border: 20px solid black;
            background-color: black;
            
        }
        .cafe {

            border: 20px solid brown;
            background-color:brown;
            
        }
        